:root {
  --primary-color: #b5e6dd;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.index {
  background-color: var(--primary-color);
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
}
p {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.first-two-meals {
  display: flex;
  justify-content: center;
}
.second-two-meals {
  display: flex;
  justify-content: center;
}
.meal {
  background-color: white;
  padding: 10px 20px;
  margin: 10px 10px 10px 10px;
  border: 1px black solid;
  border-radius: 5px;
}
img {
  width: 200px;
  height: 200px;
}
a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 5px;
  color: #0000ee;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0000ee;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}
.recipe {
  margin: 15px;
  padding: 10px;
  background-color: var(--primary-color);
}
.footnote {
  font-size: 12px;
}
