body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
}
h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.first-two-meals {
  display: flex;
  justify-content: space-around;
}
.second-two-meals {
  display: flex;
  justify-content: space-around;
}
.meal {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px black solid;
  border-radius: 5px;
}
.breakfast,
.dinner {
  position: relative;
}
.lunch-snack,
.dessert {
  position: relative;
}
img {
  width: 200px;
  height: 200px;
}
a {
  text-decoration: none;
  display: block;
  margin: 5px;
}
a:hover {
  text-decoration: underline;
}
